/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
}

/* Header */
.site-header {
  background-color: transparent;
  padding: 40px 0;
}

/* Container layout */
.container {
  width: 100%;
  display: flex;
  justify-content: center; /* untuk menaruh navbar di tengah */
  align-items: center;
  position: relative;
}

/* Logo kiri */
.logo {
  position: absolute;
  left: 80px;
}

.logo img {
  height: 90px;
  width: auto;
}

/* Navbar tengah */
.main-nav ul {
  display: flex;
  gap: 150px;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #007BFF;
}
